{{ define "header" }}
{{ partial "header.html" . }}
{{ end }}

{{ define "main" }}

	<main class="site-main section-inner animated fadeIn faster">
		<article class="thin">
			<header class="post-header">
				<div class="post-meta"><span id="ques-date">Full Date</span></div>
				<h1 id="ques-title">Question...</h1>
			</header>
			<div id="ques-text" class="content">
				Loading...
			</div>
			<footer class="post-info">
                <p class="footer-items"><i class="fas fa-user"></i>&nbsp;<span id="ques-user">User</span></p>
				<p class="footer-items"><i class="fas fa-tags"></i>&nbsp;<span id="ques-tags">tags</span></p>
			</footer>
        </article>

        <div class="thin">
            <button class="btn btn-reply" onclick="addReply()"><i class="fas fa-plus"></i>&nbsp; New Reply</button>
            <button class="btn btn-like" onclick="likeQuestion()"><i class="fas fa-thumbs-up"></i>&nbsp; Like</button>
        </div>

        <div id="addReply" class="thin">
            <span>
                <label>Title: &nbsp;</label><input type="text" id="new-title">
            </span>
            <textarea id="new-text" placeholder="Markdown Supported!"></textarea>
            <span>
                <button class="btn btn-like" onclick="preview()"><i class="far fa-eye"></i>&nbsp; Preview</button>
                &nbsp; <button class="btn btn-reply" onclick="postReply()"><i class="fas fa-share-square"></i>&nbsp; Submit</button>
            </span>
            <h2 id="preview-title"></h2>
            <div id="preview-area"></div>
        </div>

        <div id="replies">

        </div>
    
        <article class="thin">
            <hr class="post-end">
        </article>
    </main>
<script>
    window.onload = () => {
        getQuesDetails();
    }
</script>
{{ end }}

{{ define "footer" }}
{{ partialCached "footer.html" . }}
{{ end }}
